<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerOriginal1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,469}</string>
                <key>spriteSourceSize</key>
                <string>{360,469}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerOriginal2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,469}</string>
                <key>spriteSourceSize</key>
                <string>{360,469}</string>
                <key>textureRect</key>
                <string>{{1,472},{360,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerOriginal3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,469}</string>
                <key>spriteSourceSize</key>
                <string>{360,469}</string>
                <key>textureRect</key>
                <string>{{363,472},{320,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerOriginal4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{340,461}</string>
                <key>spriteSourceSize</key>
                <string>{360,469}</string>
                <key>textureRect</key>
                <string>{{715,1},{340,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerOriginal5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{350,469}</string>
                <key>spriteSourceSize</key>
                <string>{360,469}</string>
                <key>textureRect</key>
                <string>{{363,1},{350,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerOriginal6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{352,461}</string>
                <key>spriteSourceSize</key>
                <string>{360,469}</string>
                <key>textureRect</key>
                <string>{{685,472},{352,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>.png</string>
            <key>size</key>
            <string>{1056,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec805d2f25ab823f73d8c6ed4060eeba:a54470d04e84ceb96d29837e688f7f26:5dfe20cf019a47cbcac665fab3ce66a3$</string>
            <key>textureFileName</key>
            <string>.png</string>
        </dict>
    </dict>
</plist>
