<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zAtack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{270,457}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{315,1420},{270,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zAtack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,-21}</string>
                <key>spriteSize</key>
                <string>{276,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1007,305},{276,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zAtack3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-23}</string>
                <key>spriteSize</key>
                <string>{270,451}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{587,1420},{270,451}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zAtack4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-34}</string>
                <key>spriteSize</key>
                <string>{348,431}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{657,1},{348,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zAtack5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-30}</string>
                <key>spriteSize</key>
                <string>{334,441}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{659,434},{334,441}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zAtack6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-26}</string>
                <key>spriteSize</key>
                <string>{318,449}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{339,478},{318,449}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zAtack7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-23}</string>
                <key>spriteSize</key>
                <string>{302,455}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1007,1},{302,455}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zAtack8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{288,459}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{995,583},{288,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zStop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{284,461}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{859,1410},{284,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-18}</string>
                <key>spriteSize</key>
                <string>{284,461}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1145,1356},{284,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-18}</string>
                <key>spriteSize</key>
                <string>{284,469}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{325,949},{284,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-22}</string>
                <key>spriteSize</key>
                <string>{316,475}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{339,1},{316,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-19}</string>
                <key>spriteSize</key>
                <string>{336,475}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,1},{336,475}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-16}</string>
                <key>spriteSize</key>
                <string>{336,469}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,478},{336,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-18}</string>
                <key>spriteSize</key>
                <string>{322,467}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,949},{322,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-18}</string>
                <key>spriteSize</key>
                <string>{312,461}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1,1418},{312,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-21}</string>
                <key>spriteSize</key>
                <string>{274,477}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{893,877},{274,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-19}</string>
                <key>spriteSize</key>
                <string>{280,479}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{611,929},{280,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zWalk9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-16}</string>
                <key>spriteSize</key>
                <string>{288,473}</string>
                <key>spriteSourceSize</key>
                <string>{430,519}</string>
                <key>textureRect</key>
                <string>{{1169,873},{288,473}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>.png</string>
            <key>size</key>
            <string>{1463,1880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db09a917fa9d02f1fa14f999f10a1bb9:fb2af42730d43b05094a0ef828a69e0b:5dfe20cf019a47cbcac665fab3ce66a3$</string>
            <key>textureFileName</key>
            <string>.png</string>
        </dict>
    </dict>
</plist>
