<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girlStop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,0}</string>
                <key>spriteSize</key>
                <string>{288,491}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{856,333},{288,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-2}</string>
                <key>spriteSize</key>
                <string>{334,487}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{367,1},{334,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{330,491}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{856,1},{330,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,0}</string>
                <key>spriteSize</key>
                <string>{326,491}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{1349,331},{326,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{360,479}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{1,486},{360,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girlWalk4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{364,483}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{1,1},{364,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girlWalk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-5}</string>
                <key>spriteSize</key>
                <string>{332,481}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{363,661},{332,481}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{328,491}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{1349,1},{328,491}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-3}</string>
                <key>spriteSize</key>
                <string>{322,485}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{367,337},{322,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-6}</string>
                <key>spriteSize</key>
                <string>{324,463}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{1333,659},{324,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girlWalk9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-7}</string>
                <key>spriteSize</key>
                <string>{342,477}</string>
                <key>spriteSourceSize</key>
                <string>{378,491}</string>
                <key>textureRect</key>
                <string>{{854,623},{342,477}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>.png</string>
            <key>size</key>
            <string>{1841,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b6a6399cc006b11f5eb25ee899569770:c7274d7e73695e56886a8d849dab69d4:5dfe20cf019a47cbcac665fab3ce66a3$</string>
            <key>textureFileName</key>
            <string>.png</string>
        </dict>
    </dict>
</plist>
